include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if (config.root != '/')
  - var root = config.root
else
  - var root = ""

doctype html

html
  head
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0",
      name="viewport"
    )
    meta(content="yes", name="mobile-web-app-capable")
    meta(content="black-translucent", name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no", name="format-detection")
    block title
    link(rel="stylesheet", type="text/css", href=root + "/dist/css/style.css")
    if page.posts && page.posts.toArray().filter(p => p.encrypted).length || page.encrypted
      script(src=root + "/dist/js/endec.js")
    link(rel="Shortcut Icon", type="image/x-icon", href="/favicon.ico")
    link(rel="alternate", type="application/rss+xml", href="/rss.xml")

  body
    nav.nav
      span.nav__toggler
        span.nav__toggler-bar.bar1
        span.nav__toggler-bar.bar2
        span.nav__toggler-bar.bar3
      span.nav__core
        .nav__logo
          img(src="/avatar.webp", loading="lazy")
        a.nav__brand(href="/", lang="zh")= config.header
      span.nav__togglerClose
        span.nav__togglerClose-circle
        span.nav__togglerClose-bar.bar1
        span.nav__togglerClose-bar.bar2
      .nav__pathIndicator
        +current_section(page) 

    main.mainContainer
      block content

    section.aside__group
      span.aside__btn
        .github-btn(lang="zh")
          a.gh-btn(href="#", rel="noopener noreferrer", target="_blank")
            span.gh-ico
            span.gh-text= "FOLLOW ME"
          a.gh-count(href="#", rel="noopener noreferrer", target="_blank")
        script.
          window.GH_BUTTON = { username: "#{theme.gh_button.username}" }
      aside.aside__left
        .aside__menuList
          each item in theme.menu
            if item.position === 'main'
              +a_with_current(item.directory, item.page, item.icon, page)

      aside.aside__right
        block right

    #footer.font__ui(style="text-align: center", lang="zh")= "© "
      a(href="/", rel="nofollow")= config.title + "."
      | &nbsp;Powered by&nbsp;
      a(rel="nofollow", target="_blank", href="https://hexo.io") Hexo.
      | &nbsp;
      a(rel="nofollow", target="_blank", href="https://github.com/hsfzxjy/byak-hexo") Theme
      | &nbsp;by&nbsp;
      a(rel="nofollow", target="_blank", href="https://github.com/hsfzxjy") hsfzxjy
      | .
      if theme.beian.enabled
        div(style="margin-top: 10px")
          a(
            target="_blank",
            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=#{theme.beian.gongan.code}",
            style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px"
          )
            img(src=root + "/img/beian.png", style="float: left", loading="lazy")
            span(
              style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #939393"
            ) #{ theme.beian.gongan.text }
          a(
            target="_blank",
            style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px",
            href="http://beian.miit.gov.cn/"
          )
            span(
              style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #939393"
            ) #{ theme.beian.gov.text } 

  script(src=root + "/dist/js/main.js", async, defer)
