extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title
  - var meta = config.meta || {}
  if meta.title
    meta(itemprop="title", content=meta.title)
    meta(itemprop="og:title", content=meta.title)
  if meta.image
    meta(itemprop="image", content=meta.image)
    meta(itemprop="og:image", content=meta.image)
  if meta.description
    meta(itemprop="description", content=meta.description)
    meta(itemprop="og:description", content=meta.description)
  if meta.type
    meta(itemprop="og:type", content=meta.type)
block content
  include _partial/list

  include _partial/paginator
  //if theme.disqus
  //    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)
