extends base

block title
  title= page.title

block content
  .post.post-page
    h1.post-title= page.title
    .post-meta= page.date.format(config.date_format) + " | "
      if page.categories.length > 0
        span.categories
          each category in page.categories.toArray()
            a(href=url_for(category.path))= " " + __(category.name)
    div(class="post-content " + page.extra_classes.join(" "), lang="en")
      != page.encrypted ? page.encrypted.composedContent : page.content
      - post = page
      if page.encrypted
        include _partial/decryption
        script.
          var current_tag = document.currentScript;
          var kind = "#{page.encrypted.kind}";
          window.ENDEC.tryDecryptNode(current_tag.parentElement, kind);
      if page.cc === "zh"
        br
        blockquote
          p.
            作者：hsfzxjy <br>
            链接：<span class="cc-link"></span><br>
            著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
      else if page.cc === "en"
        br
        blockquote
          p.
            Authored by hsfzxjy.<br>
            Article link at <span class="cc-link"></span>.<br>
            All rights reserved by the author. For commercial repost, please contact the author for authorization. For non-commercial repost, please indicate the source.
      script.
        (function () {
          var cclink = document.querySelector("span.cc-link");
          if (!cclink) return;
          cclink.innerHTML = '<a href="' + location.href + '">' + location.href + "</a>";
        })();
    if page.tags
      .tags
        each tag in page.tags.toArray()
          a(href=url_for(tag.path))= tag.name
    //- .post-content
    //-     blockquote
    //-         b.pay 觉得文章不错？那就赞赏一下吧 :-)
    //-         br
    //-         img.pay(src="/assets/wxqrcode.jpg")
    include _partial/post-nav
    if theme.duoshuo
      .ds-share.flat(
        data-thread-key=page.path,
        data-title=page.title,
        data-url=page.permalink
      )
        .ds-share-inline
          ul.ds-share-icons-16
            li(data-toggle="ds-share-icons-more")
              a.ds-more(href="javascript:void(0);") 分享到：
            li
              a.ds-weibo(href="javascript:void(0);", data-service="weibo") 微博
            li
              a.ds-wechat(href="javascript:void(0);", data-service="wechat") 微信
          .ds-share-icons-more

    include _partial/comments
