extends base

block title
  title= page.title
  - var meta = config.meta || {}
  if meta.title
    meta(itemprop="title", content=page.title + " - " + meta.title)
    meta(itemprop="og:title", content=page.title + " - " + meta.title)
  if meta.image
    meta(itemprop="image", content=meta.image)
    meta(itemprop="og:image", content=meta.image)
  if page.digest
    - var digest = truncate(strip_html(page.digest), { length: 150 })
    meta(itemprop="description", content=digest)
    meta(itemprop="og:description", content=digest)
  if meta.type
    meta(itemprop="og:type", content=meta.type) 

block content
  .post.post-page
    h1(class=["post-title", "lang-#{page.lang}"])= page.title
    .post-meta= page.date.format(config.date_format) + " | "
      if page.categories.length > 0
        span.categories
          each category in page.categories.toArray()
            a(href=url_for(category.path))= " " + __(category.name)
    div(
      class=["post-content", "lang-#{page.lang}", ...page.extra_classes].join(" "),
      lang="en"
    )
      if page.discussion
        blockquote !{ discussion_text(page.discussion, page.lang) }
      != page.encrypted ? page.encrypted.composedContent : page.content
      - post = page
      if page.encrypted
        include _partial/decryption
        script.
          var current_tag = document.currentScript
          var kind = "#{page.encrypted.kind}"
          window.ENDEC.decryptEager(current_tag.parentElement, kind)
      if page.lang === "zh" || page.lang === undefined
        br
        blockquote
          p.cc.
            作者：hsfzxjy <br>
            链接：<span class="cc-link"></span><br>
            许可：<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.<br>
            著作权归作者所有。本文<b>不允许</b>被用作商业用途，非商业转载请注明出处。
      else if page.lang === "en"
        br
        blockquote
          p.cc.
            <b>Author:</b> hsfzxjy.<br>
            <b>Link:</b> <span class="cc-link"></span>.<br>
            <b>License:</b> <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a>.<br>
            All rights reserved by the author.<br>
            Commercial use of this post in any form is <b>NOT</b> permitted.<br>
            Non-commercial use of this post should be attributed with this block of text.
      script.
        ;(function () {
          var cclink = document.querySelector("span.cc-link")
          if (!cclink) return
          cclink.innerHTML = '<a href="' + location.href + '">' + location.href + "</a>"
        })()
    if page.tags
      .tags
        each tag in page.tags.toArray()
          a(href=url_for(tag.path))= tag.name
    if page.labeleq
      script.
        window.__ams = "ams"
    include _partial/post-nav
    if theme.duoshuo
      .ds-share.flat(
        data-thread-key=page.path,
        data-title=page.title,
        data-url=page.permalink
      )
        .ds-share-inline
          ul.ds-share-icons-16
            li(data-toggle="ds-share-icons-more")
              a.ds-more(href="javascript:void(0);") 分享到：
            li
              a.ds-weibo(href="javascript:void(0);", data-service="weibo") 微博
            li
              a.ds-wechat(href="javascript:void(0);", data-service="wechat") 微信
          .ds-share-icons-more

    include _partial/comments
    if !page.encrypted && page.toc
      #toc
        .toc-toggler
        .toc-content
          != toc(page.content)
