mixin a_with_current(href, content, id, page)
  - var url = url_for(href)

  if url !== '/'
    - var url = url.slice(1)

  if (href == '/' && is_home()) || is_current(url) || (is_post() && (page.categories.toArray()[0] || {}).name == content)
    a.current(href=href)
      i(class=id)
      span= content
  else
    a(href=href)
      i(class=id)
      span= content

mixin title(page)
  if page
    if page.title
      = page.title
    else
      = _p("no-title")
