.post-list
  each post, index in page.posts.toArray()
    article.post(lang=post.lang)
      .post__title-block
        h1.post__title
          include ./helpers
          a(href=url_for(post.path))
            +title(post)
        span.post__lang-tag.font__ui(lang=en)= post.lang

      .post__meta(lang="zh")= post.date.format(config.date_format) + " | "
        if post.categories.length > 0
          span.post__meta-categories
            each category in post.categories.toArray()
              a(href=url_for(category.path))= " " + category.name
      div(class=["post__content", "font__body", ...post.extra_classes].join(" "), data-post-id=post.uid)
        if post.description
          != post.description
        else if page.excerpt
          != post.excerpt
        else if post.content
          != post.encrypted ? post.encrypted.composedDigest : post.digest
          if post.encrypted
            include ./decryption
            script.
              var current_tag = document.currentScript
              var kind = "#{post.encrypted.kind}"
              window.ENDEC.decryptEager(current_tag.parentElement, kind)

      .post__readmore.font__ui(lang="zh")
        a(href=url_for(post.path))= __("Readmore")
