each post, index in page.posts.toArray()
  .post
    if index !== 0
      hr
    h1.post-title
      include ./helpers
      a(href=url_for(post.path))
        +title(post)
    .post-meta= post.date.format(config.date_format)
    if theme.duoshuo
      span.ds-thread-count(data-thread-key=post.path)
    if theme.disqus
      span.disqus-comment-count(data-disqus-identifier=post.path)
    if post.description
      .post-content
        != post.description
    else if page.excerpt
      .post-content
        != post.excerpt
    else if post.content
      div(class=["post-content", ...post.extra_classes].join(" "), lang="en")
        != post.encrypted ? post.encrypted.composedDigest : post.digest
        if post.encrypted
          include ./decryption
          script.
            var current_tag = document.currentScript;
            var kind = "#{post.encrypted.kind}";
            window.ENDEC.decryptEager(current_tag.parentElement, kind);

      if post.readmore
        p.readmore
          a(href=url_for(post.path))= __("Readmore")
