.post-list
  each post, index in page.posts.toArray()
    if index !== 0
      hr.post-list__delimiter
    article.post(lang=post.lang)
      h1.post__title
        include ./helpers
        a(href=url_for(post.path))
          +title(post)
      .post__meta= post.date.format(config.date_format)
      div(class=["post__content", "font__body", ...post.extra_classes].join(" "), data-post-id=post.uid)
        if post.description
          != post.description
        else if page.excerpt
          != post.excerpt
        else if post.content
          != post.encrypted ? post.encrypted.composedDigest : post.digest
          if post.encrypted
            include ./decryption
            script.
              var current_tag = document.currentScript
              var kind = "#{post.encrypted.kind}"
              window.ENDEC.decryptEager(current_tag.parentElement, kind)

    if post.readmore
      .post__readmore
        a(href=url_for(post.path))
          span= __("Readmore")
